.u-flex {
  display: flex;

  &--bs {
    justify-content: space-between;
  }
  &--bc {
    justify-content: space-between;
    align-items: center;
  }
  &--cc {
    justify-content: center;
    align-items: center;
  }
  &--wrap {
    flex-wrap: wrap;
  }
}
